<!DOCTYPE html>
<html>
<head>

    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link href="/static/view_calculator.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Predict Your Default</h5>
                    <form method="POST">
                        {# This hidden_tag is a CSRF security feature. #}
                        {{ form.hidden_tag() }}
                        <div class="form-label-group">
                            {{ form.variable_1 }}
                            <label for="Variable_1">Variable_1</label>
                        </div>
                        <hr>

                        <div class="form-label-group">
                            {{ form.variable_2 }}
                            <label for="Variable_2">Variable_2</label>
                        </div>
                        <hr>


                        <div class="form-label-group">
                            {{ form.variable_3 }}
                            <label for="Variable_3">Variable_3</label>
                        </div>
                        <hr>

                        <div class="form-label-group">
                            {{ form.variable_4 }}
                            <label for="Variable_4">Variable_4</label>
                        </div>
                        <hr>

                        <div class="form-label-group">
                            {{ form.variable_5 }}
                            <label for="Variable_5">Variable_5</label>
                        </div>
                        <hr>

                        <div class="form-label-group">
                            {{ form.variable_6 }}
                            <label for="Variable_6">Variable_6</label>
                        </div>

                        <input class="form-label-group" type="number" name="TEST" placeholder="TEST-PLACEHOLDER" required="required"/>

                        <hr>
                        {{ form.submit(class="btn btn-lg btn-success btn-block text-uppercase") }}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

